@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h1 {
    font-family: 'Kanit', 'Tahoma';
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    font-family: 'Rubik', 'Tahoma';
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2rem;
    color: #555;
}

p, div {
    font-family: 'Rubik', 'Tahoma';
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

p {
    padding: 0.4rem 0;
}

p > strong, div > strong {
    font-weight: 400;
}

li {
    padding: 0.4rem 0;
    margin-left: 2rem;
}

.container {
    max-width: 1200px;
    background-color: #fff;
    padding: 1rem;
}

.photo {
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.subtitle {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subtitle > span {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtitle > span > img {
    height: 1.2rem;
    margin-right: 0.6rem;
}

.section {
    margin-bottom: 2rem;
}

.section-title {
    font-family: 'Kanit', 'Tahoma';
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #ccc solid 2px;
    padding-bottom: 0.6rem;
    margin-bottom: 0.6rem;
}

.section-title > img {
    height: 1.4rem;
    margin-right: 0.5rem;
}

.section-content {
    margin-bottom: 1rem;
}

.section-content-title {
    font-weight: 400;
    padding: 0.4rem 0;
    display: flex;
}

.section-content-title > img {
    height: 2.5rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}

.section-content-subtitle {
    font-weight: 300;
    color: #555;
}

.section-content-text {
    margin-left: 3rem;
}

.location {
    font-weight: 300;
    color: #555;
    background: url('images/icons/color/location.png');
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    padding-left: 1.2rem;
    margin-left: 1rem;
}

